# Configuração do Banco de Dados
DB_HOST=localhost
DB_NAME=sua_base_de_dados_aqui
DB_USER=seu_usuario_aqui
DB_PASS=sua_senha_aqui

# Chaves de Segurança (Criptografia)
# Gere chaves seguras (strings aleatórias) de 64 e 32 caracteres, respectivamente.
ENCRYPTION_KEY=insira_uma_chave_segura_de_64_caracteres_aqui
ENCRYPTION_IV_KEY=insira_uma_chave_de_32_caracteres_aqui

# Notificações Push (VAPID Keys)
# Você precisará gerar suas próprias chaves VAPID se quiser usar notificações.
VAPID_PUBLIC_KEY=sua_chave_publica_aqui
VAPID_PRIVATE_KEY=sua_chave_privada_aqui

# Configuração de E-mail (SMTP)
SMTP_HOST=smtp.exemplo.com
SMTP_USER=seu_email@exemplo.com
SMTP_PASS=sua_senha_de_email_aqui
SMTP_PORT=465
SMTP_SECURE=ssl
SMTP_DEBUG=0
SMTP_FROM_EMAIL=seu_email@exemplo.com
SMTP_FROM_NAME="Nome do Seu Projeto"

# Integrações (APIs Externas)
ABACATE_PAY_KEY=sua_chave_do_abacate_pay_aqui
PORTAL_TRANSPARENCIA_KEY=sua_chave_da_api_da_cgu_aqui
