{"openapi":"3.1.0","info":{"title":"API REST do Portal de Dados Abertos","contact":{"name":"Diretoria de Tecnologia da Informação - DTI","url":"https://www.cgu.gov.br","email":"@cgu.gov.br"},"license":{"name":"Decreto nº 8.777, de 11 de maio de 2016","url":"https://www.planalto.gov.br/ccivil_03/_ato2015-2018/2016/decreto/d8777.htm"},"version":"1.0"},"externalDocs":{"description":"Changelog","url":"/changelog"},"servers":[{"url":"https://dados.gov.br","description":"Generated server url"}],"security":[{"Authorization":[]}],"paths":{"/dados/api/publico/conjuntos-dados/{id}":{"get":{"tags":["Conjuntos de dados"],"summary":"Detalha um conjunto de dados","description":"Esse método detalha um conjunto de dados existente.","operationId":"detalhar","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"type":"object"},{"$ref":"#/components/schemas/ErroDTO"},{"type":"string"}]}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErroDTO"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"oneOf":[{"type":"object"},{"type":"string"}]}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"string"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConjuntoDadosApiView"}}}}}},"put":{"tags":["Conjuntos de dados"],"summary":"Atualiza um conjunto de dados (Exclusivo para administradores de organização)","description":"Esse método atualiza um conjunto de dados.","operationId":"atualizar","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConjuntoDadosCadastroForm"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"type":"object"},{"$ref":"#/components/schemas/ErroDTO"},{"type":"string"}]}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErroDTO"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"oneOf":[{"type":"object"},{"type":"string"}]}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"string"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConjuntoDadosCadastroForm"}}}}}},"delete":{"tags":["Conjuntos de dados"],"summary":"Exclui um conjunto de dados (Exclusivo para administradores de organização)","description":"Esse método exclui um conjunto de dados existente da sua organização.","operationId":"excluir","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"type":"object"},{"$ref":"#/components/schemas/ErroDTO"},{"type":"string"}]}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErroDTO"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"oneOf":[{"type":"object"},{"type":"string"}]}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"string"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConjuntoDadosCadastroForm"}}}}}},"patch":{"tags":["Conjuntos de dados"],"summary":"Atualiza partes de um conjunto de dados (Exclusivo para administradores de organização)","description":"Esse método atualiza partes de um conjunto de dados existente da sua organização.","operationId":"patch","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConjuntoDadosCadastroForm"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"type":"object"},{"$ref":"#/components/schemas/ErroDTO"},{"type":"string"}]}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErroDTO"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"oneOf":[{"type":"object"},{"type":"string"}]}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"string"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConjuntoDadosCadastroForm"}}}}}}},"/dados/api/solicitacoes/resposta":{"post":{"tags":["Solicitações"],"summary":"Resposta de Solicitações (Exclusivo para administradores de organização)","operationId":"cadastrarResposta","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RespostaForm"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"type":"object"},{"$ref":"#/components/schemas/ErroDTO"},{"type":"string"}]}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErroDTO"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"oneOf":[{"type":"object"},{"type":"string"}]}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"string"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/dados/api/reuso/salvar":{"post":{"tags":["Reúsos"],"summary":"Criar novo reúso","description":"Este método cria um novo reúso.\n<br><br>\nLista de tipos:<br>\n1: Aplicativo ou Plataforma<br>\n2: Artigo Científico ou Publicação Acadêmica<br>\n3: Conjunto de Dados<br>\n4: Outro<br>\n5: Matéria Jornalística<br>\n6: Painel<br>\n7: Dashboard ou Infográfico<br>\n8: Material Didático<br>\n9: Estudo Independente<br>\n10: Bot\n","operationId":"salvar","parameters":[{"name":"nome","in":"query","required":true,"schema":{"type":"string"}},{"name":"url","in":"query","required":true,"schema":{"type":"string"}},{"name":"descricao","in":"query","required":true,"schema":{"type":"string"}},{"name":"idsTipo","in":"query","required":true,"schema":{"type":"array","items":{"type":"integer","format":"int32"}}},{"name":"nomeResponsavel","in":"query","required":true,"schema":{"type":"string"}},{"name":"emailResponsavel","in":"query","required":true,"schema":{"type":"string"}},{"name":"dataLancamento","in":"query","required":false,"schema":{"type":"String","format":"date"}},{"name":"dataDescontinuado","in":"query","required":false,"schema":{"type":"String","format":"date"}},{"name":"idsConjuntoDados","in":"query","required":true,"schema":{"type":"array","items":{"type":"string"}}},{"name":"conjuntosDadosNaoCatalogados","in":"query","required":false,"schema":{"type":"string"}},{"name":"idsTemas","in":"query","required":true,"schema":{"type":"array","items":{"type":"string"}}},{"name":"idsPalavrasChave","in":"query","required":true,"schema":{"type":"array","items":{"type":"string"}}},{"name":"privado","in":"query","required":true,"schema":{"type":"boolean"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"ArquivoLogo":{"type":"string","format":"binary"},"imagens":{"type":"array","items":{"type":"string","format":"binary"}}},"required":["ArquivoLogo"]}}}},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"type":"object"},{"$ref":"#/components/schemas/ErroDTO"},{"type":"string"}]}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErroDTO"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"oneOf":[{"type":"object"},{"type":"string"}]}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"string"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultadoReuso"}}}}}}},"/dados/api/recurso/salvar":{"post":{"tags":["Recursos"],"summary":"Salvar Recurso (Exclusivo para administradores de organização)","description":"Cadastra ou edita um recurso. Obs: No caso do cadastro, o id deve ser omitido do formulário.","operationId":"salvarOuEditarRecurso","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RecursoCadastroApiForm"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"type":"object"},{"$ref":"#/components/schemas/ErroDTO"},{"type":"string"}]}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErroDTO"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"oneOf":[{"type":"object"},{"type":"string"}]}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"string"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RecursoDTO"}}}}}}},"/dados/api/publico/conjuntos-dados":{"get":{"tags":["Conjuntos de dados"],"summary":"Lista conjuntos de dados","description":"Esse método lista conjuntos de dados existente.","operationId":"listar","parameters":[{"name":"nomeConjuntoDados","in":"query","required":false,"schema":{"type":"string"}},{"name":"dadosAbertos","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"isPrivado","in":"query","required":false,"schema":{"type":"string","default":"false"}},{"name":"idOrganizacao","in":"query","required":false,"schema":{"type":"string"}},{"name":"pagina","in":"query","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"type":"object"},{"$ref":"#/components/schemas/ErroDTO"},{"type":"string"}]}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErroDTO"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"oneOf":[{"type":"object"},{"type":"string"}]}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"string"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ApiResultadoListaConjuntoDados"}}}}}}},"post":{"tags":["Conjuntos de dados"],"summary":"Cria um conjunto de dados (Exclusivo para administradores de organização). ","description":"Esse método cria um conjunto de dados na organização. <br>Parâmetros possíveis:<br> - periodicidade:  \"1\" (DIARIA), \"2\" (SEMANAL), \"3\" (QUINZENAL), \"4\" (MENSAL), \"5\" (SOB_DEMANDA), \"6\" (OUTRAS), \"7\" (TRIMESTRAL), \"8\" (SEMESTRAL), \"9\" (ANUAL) ou \"10\" (QUADRIMESTRAL);<br>- licenças:  \"cc-zero\" (Creative Commons CCZero), \"odc-pddl\" (Licença e Dedicação ao Domínio Público do Open Data Commons (PDDL)), \"cc-by\" (Creative Commons Atribuição) ou \"odc-odbl\" (Licença Aberta para Bases de Dados (ODbL) do Open Data Commons));<br>- visibilidade: 1 (PUBLICA) ou 2 (PRIVADA).","operationId":"criar","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConjuntoDadosCadastroApiForm"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"type":"object"},{"$ref":"#/components/schemas/ErroDTO"},{"type":"string"}]}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErroDTO"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"oneOf":[{"type":"object"},{"type":"string"}]}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"string"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConjuntoDadosCadastroForm"}}}}}}},"/dados/api/reuso/atualiza/{id}":{"patch":{"tags":["Reúsos"],"summary":"Atualizar reúso","description":"    Este método atualiza um reúso existente.\n    <br><br>\n    Lista de tipos:<br>\n    1: Aplicativo ou Plataforma<br>\n    2: Artigo Científico ou Publicação Acadêmica<br>\n    3: Conjunto de Dados<br>\n    4: Outro<br>\n    5: Matéria Jornalística<br>\n    6: Painel<br>\n    7: Dashboard ou Infográfico<br>\n    8: Material Didático<br>\n    9: Estudo Independente<br>\n    10: Bot\n","operationId":"atualizar_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"nome","in":"query","required":false,"schema":{"type":"string"}},{"name":"url","in":"query","required":false,"schema":{"type":"string"}},{"name":"descricao","in":"query","required":false,"schema":{"type":"string"}},{"name":"idsTipo","in":"query","required":false,"schema":{"type":"array","items":{"type":"integer","format":"int32"}}},{"name":"nomeResponsavel","in":"query","required":false,"schema":{"type":"string"}},{"name":"emailResponsavel","in":"query","required":false,"schema":{"type":"string"}},{"name":"dataLancamento","in":"query","required":false,"schema":{"type":"String","format":"date"}},{"name":"dataDescontinuado","in":"query","required":false,"schema":{"type":"String","format":"date"}},{"name":"idsConjuntoDados","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"conjuntosDadosNaoCatalogados","in":"query","required":false,"schema":{"type":"string"}},{"name":"idsTemas","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"idsPalavrasChave","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"privado","in":"query","required":false,"schema":{"type":"boolean"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"ArquivoLogo":{"type":"string","format":"binary"},"imagens":{"type":"array","items":{"type":"string","format":"binary"}}}}}}},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"type":"object"},{"$ref":"#/components/schemas/ErroDTO"},{"type":"string"}]}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErroDTO"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"oneOf":[{"type":"object"},{"type":"string"}]}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"string"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultadoReuso"}}}}}}},"/dados/api/publico/reusos/homologacao/pendente/{idReuso}":{"patch":{"tags":["Reúsos"],"summary":"Enviar reúso para homologação","description":"Este método envia um reúso existente para homologação.","operationId":"apiEnviarParaHomologacao","parameters":[{"name":"idReuso","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"type":"object"},{"$ref":"#/components/schemas/ErroDTO"},{"type":"string"}]}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErroDTO"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"oneOf":[{"type":"object"},{"type":"string"}]}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"string"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/dados/api/temas":{"get":{"tags":["Temas"],"summary":"Consulta de temas","operationId":"listar_1","responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"type":"object"},{"$ref":"#/components/schemas/ErroDTO"},{"type":"string"}]}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErroDTO"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"oneOf":[{"type":"object"},{"type":"string"}]}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"string"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TemaDTO"}}}}}}}},"/dados/api/tags":{"get":{"tags":["Tags"],"summary":"Consulta de tags","operationId":"listarTag","parameters":[{"name":"nome","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"type":"object"},{"$ref":"#/components/schemas/ErroDTO"},{"type":"string"}]}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErroDTO"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"oneOf":[{"type":"object"},{"type":"string"}]}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"string"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TagDTO"}}}}}}}},"/dados/api/solicitacoes":{"get":{"tags":["Solicitações"],"summary":"Consulta de Solicitações","operationId":"listar_2","parameters":[{"name":"filtro","in":"query","required":true,"schema":{"$ref":"#/components/schemas/SolicitacaoApiFiltro"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"type":"object"},{"$ref":"#/components/schemas/ErroDTO"},{"type":"string"}]}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErroDTO"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"oneOf":[{"type":"object"},{"type":"string"}]}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"string"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SolicitacaoDTO"}}}}}}}},"/dados/api/publico/reusos":{"get":{"tags":["Reúsos"],"summary":"Lista reúsos","description":"Esse método lista reúsos existentes.","operationId":"listar_3","parameters":[{"name":"nomeReuso","in":"query","required":false,"schema":{"type":"string"}},{"name":"nomeAutor","in":"query","required":false,"schema":{"type":"string"}},{"name":"idOrganizacao","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"type":"object"},{"$ref":"#/components/schemas/ErroDTO"},{"type":"string"}]}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErroDTO"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"oneOf":[{"type":"object"},{"type":"string"}]}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"string"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ApiResultadoListaReuso"}}}}}}}},"/dados/api/publico/reuso/{id}":{"get":{"tags":["Reúsos"],"summary":"Detalha um reúso","description":"Esse método detalha um reúso existente.","operationId":"detalhar_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"type":"object"},{"$ref":"#/components/schemas/ErroDTO"},{"type":"string"}]}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErroDTO"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"oneOf":[{"type":"object"},{"type":"string"}]}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"string"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResultadoReuso"}}}}}}},"/dados/api/publico/organizacao":{"get":{"tags":["Organização"],"summary":"Lista organizações","description":"Esse método lista organizações.","operationId":"listar_4","parameters":[{"name":"nome","in":"query","required":false,"schema":{"type":"string"}},{"name":"pagina","in":"query","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"type":"object"},{"$ref":"#/components/schemas/ErroDTO"},{"type":"string"}]}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErroDTO"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"oneOf":[{"type":"object"},{"type":"string"}]}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"string"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/IndiceOrganizacao"}}}}}}}},"/dados/api/publico/organizacao/{id}":{"get":{"tags":["Organização"],"summary":"Detalha uma organização","description":"Esse método detalha uma organização.","operationId":"detalhar_2","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"type":"object"},{"$ref":"#/components/schemas/ErroDTO"},{"type":"string"}]}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErroDTO"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"oneOf":[{"type":"object"},{"type":"string"}]}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"string"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizacaoApiDTO"}}}}}}},"/dados/api/publico/conjuntos-dados/{id}/tag":{"get":{"tags":["Conjuntos de dados"],"summary":"Lista tags de um conjunto de dados","description":"Esse método lista as tags associadas a um conjunto de dados.","operationId":"listarTagsPorIdConjuntoDados","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"type":"object"},{"$ref":"#/components/schemas/ErroDTO"},{"type":"string"}]}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErroDTO"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"oneOf":[{"type":"object"},{"type":"string"}]}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"string"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TagDTO"}}}}}}}},"/dados/api/publico/conjuntos-dados/observancia-legal":{"get":{"tags":["Conjuntos de dados"],"operationId":"listarObservanciaLegal","responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"type":"object"},{"$ref":"#/components/schemas/ErroDTO"},{"type":"string"}]}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErroDTO"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"oneOf":[{"type":"object"},{"type":"string"}]}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"string"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ObservanciaLegalDTO"}}}}}}}},"/dados/api/publico/conjuntos-dados/objetivos-desenvolvimento-sustentavel":{"get":{"tags":["Conjuntos de dados"],"operationId":"listarOds","responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"type":"object"},{"$ref":"#/components/schemas/ErroDTO"},{"type":"string"}]}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErroDTO"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"oneOf":[{"type":"object"},{"type":"string"}]}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"string"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ObservanciaLegalDTO"}}}}}}}},"/dados/api/publico/conjuntos-dados/formatos":{"get":{"tags":["Conjuntos de dados"],"operationId":"listarFormatos","responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"type":"object"},{"$ref":"#/components/schemas/ErroDTO"},{"type":"string"}]}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErroDTO"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"oneOf":[{"type":"object"},{"type":"string"}]}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"string"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"type":"string"}}}}}}}},"/dados/api/recurso/{id}":{"delete":{"tags":["Recursos"],"summary":"Excluir Recurso (Exclusivo para administradores de organização)","description":"Exclui recurso.","operationId":"deletar","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"type":"object"},{"$ref":"#/components/schemas/ErroDTO"},{"type":"string"}]}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErroDTO"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"oneOf":[{"type":"object"},{"type":"string"}]}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"string"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/dados/api/publico/reusos/{idReuso}":{"delete":{"tags":["Reúsos"],"summary":"Excluir reúso","description":"Este método exclui um reúso existente.","operationId":"deleteReuso","parameters":[{"name":"idReuso","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"type":"object"},{"$ref":"#/components/schemas/ErroDTO"},{"type":"string"}]}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErroDTO"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"oneOf":[{"type":"object"},{"type":"string"}]}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"string"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}}},"components":{"schemas":{"ErroDTO":{"type":"object","properties":{"erro":{"type":"string"}}},"ArquivoCodificado":{"type":"object","properties":{"nomeArquivo":{"type":"string"},"conteudo":{"type":"string"},"imageDisplayUrl":{"type":"string"}}},"AutocompleteOption":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"}}},"AvaliacaoConjuntoDadosDTO":{"type":"object","properties":{"listaAvaliacoes":{"type":"array","items":{"$ref":"#/components/schemas/AvaliacaoConjuntoDadosForm"}},"avaliacaoNotaMedia":{"type":"number","format":"double"},"avaliacaoAtualizadaNotaMedia":{"type":"number","format":"double"},"avaliacaoAtualizadaQtdSim":{"type":"number","format":"double"},"avaliacaoAtualizadaQtdNao":{"type":"number","format":"double"},"avaliacaoAtualizadaQtdTotal":{"type":"number","format":"double"},"avaliacaoLinkAcessoNotaMedia":{"type":"number","format":"double"},"avaliacaoLinkAcessoQtdSim":{"type":"number","format":"double"},"avaliacaoLinkAcessoQtdNao":{"type":"number","format":"double"},"avaliacaoLinkAcessoQtdTotal":{"type":"number","format":"double"},"avaliacaoCompreensivelNotaMedia":{"type":"number","format":"double"},"avaliacaoCompreensivelQtdSim":{"type":"number","format":"double"},"avaliacaoCompreensivelQtdNao":{"type":"number","format":"double"},"avaliacaoCompreensivelQtdTotal":{"type":"number","format":"double"},"avaliacaoNotaMediaFormatada":{"type":"string"},"avaliacaoAtualizadaNotaMediaFormatada":{"type":"string"},"avaliacaoLinkAcessoNotaMediaFormatada":{"type":"string"},"avaliacaoCompreensivelNotaMediaFormatada":{"type":"string"}}},"AvaliacaoConjuntoDadosForm":{"type":"object","properties":{"idAvaliacaoConjuntoDados":{"type":"integer","format":"int32"},"idConjuntoDados":{"type":"string"},"escalaSatisfacao":{"type":"integer","format":"int32"},"avaliarQualidade":{"type":"boolean"},"linkAcessoFunciona":{"type":"boolean"},"atualizado":{"type":"boolean"},"compreensivel":{"type":"boolean"}}},"ConjuntoDadosApiView":{"type":"object","properties":{"id":{"type":"string"},"titulo":{"type":"string","maxLength":2147483647,"minLength":2},"nome":{"type":"string"},"organizacao":{"type":"string"},"descricao":{"type":"string","maxLength":1000,"minLength":2},"licenca":{"type":"string"},"responsavel":{"type":"string","minLength":1},"emailResponsavel":{"type":"string","minLength":1},"periodicidade":{"type":"string","enum":["INVALIDO","DIARIA","SEMANAL","QUINZENAL","MENSAL","SOB_DEMANDA","OUTRAS","TRIMESTRAL","SEMESTRAL","ANUAL","QUADRIMESTRAL"]},"temas":{"type":"array","items":{"$ref":"#/components/schemas/TemaApiForm"},"minItems":1},"tags":{"type":"array","items":{"$ref":"#/components/schemas/TagDTO"},"minItems":1},"coberturaTemporalInicio":{"type":"string","format":"date"},"coberturaTemporalFim":{"type":"string","format":"date"},"coberturaEspacial":{"type":"string","enum":["INVALIDO","FEDERAL","ESTADUAL","MUNICIPAL"]},"valorCoberturaEspacial":{"type":"string"},"granularidadeEspacial":{"type":"string","enum":["INVALIDO","FEDERAL","ESTADUAL","MUNICIPAL"]},"versao":{"type":"string","minLength":1},"atualizacaoVersao":{"type":"boolean"},"visibilidade":{"type":"string","enum":["INVALIDO","PUBLICA","PRIVADA"]},"descontinuado":{"type":"boolean"},"dataDescontinuacao":{"type":"string","format":"date"},"reuso":{"type":"boolean"},"recursos":{"type":"array","items":{"$ref":"#/components/schemas/RecursoApiView"}},"dataUltimaAtualizacaoMetadados":{"type":"string"},"dataUltimaAtualizacaoArquivo":{"type":"string"},"dataCatalogacao":{"type":"string"},"atualizado":{"type":"string"},"dadosRacaEtnia":{"type":"boolean"},"dadosGenero":{"type":"boolean"},"ods":{"type":"array","items":{"type":"integer","format":"int32"}},"observanciaLegal":{"type":"string"},"dadosAbertos":{"type":"string"},"selo":{"type":"string"},"origemCadastro":{"type":"string"}},"required":["descricao","emailResponsavel","licenca","periodicidade","responsavel","tags","temas","titulo","versao","visibilidade"]},"ConjuntoDadosCadastroForm":{"type":"object","properties":{"id":{"type":"string"},"titulo":{"type":"string","maxLength":2147483647,"minLength":2},"nome":{"type":"string"},"organizacao":{"type":"string"},"descricao":{"type":"string","maxLength":1000,"minLength":2},"licenca":{"type":"string"},"responsavel":{"type":"string","minLength":1},"emailResponsavel":{"type":"string","minLength":1},"periodicidade":{"type":"string","enum":["INVALIDO","DIARIA","SEMANAL","QUINZENAL","MENSAL","SOB_DEMANDA","OUTRAS","TRIMESTRAL","SEMESTRAL","ANUAL","QUADRIMESTRAL"]},"temas":{"type":"array","items":{"$ref":"#/components/schemas/TemaApiForm"},"minItems":1},"tags":{"type":"array","items":{"$ref":"#/components/schemas/TagDTO"},"minItems":1},"coberturaTemporalInicio":{"type":"string","description":"Data de início da cobertura temporal","example":"26/06/2022","pattern":"dd/MM/yyyy"},"coberturaTemporalFim":{"type":"string","description":"Data final da cobertura temporal","example":"26/08/2022","pattern":"dd/MM/yyyy"},"coberturaEspacial":{"type":"string","enum":["INVALIDO","FEDERAL","ESTADUAL","MUNICIPAL"]},"valorCoberturaEspacial":{"type":"string"},"granularidadeEspacial":{"type":"string","enum":["INVALIDO","FEDERAL","ESTADUAL","MUNICIPAL"]},"versao":{"type":"string","minLength":1},"atualizacaoVersao":{"type":"boolean"},"visibilidade":{"type":"string","enum":["INVALIDO","PUBLICA","PRIVADA"]},"statusHomologacao":{"type":"string","enum":["INVALIDO","CADASTRADO","AGUARDANDO_HOMOLOGACAO","HOMOLOGADO","NAO_HOMOLOGADO"]},"descontinuado":{"type":"boolean"},"dataDescontinuacao":{"type":"string","example":"05/02/2022","pattern":"dd/MM/yyyy"},"dadosAbertos":{"type":"boolean"},"relacaoOds":{"type":"boolean"},"dadosRacaEtnia":{"type":"boolean"},"dadosGenero":{"type":"boolean"},"ods":{"type":"array","items":{"type":"integer","format":"int32"}},"listaObservanciaLegal":{"type":"array","items":{"type":"integer","format":"int32"}},"existePrevisaoAbertura":{"type":"boolean"},"dataPrevisaoAbertura":{"type":"string","format":"date"},"reuso":{"type":"boolean"},"recursos":{"type":"array","items":{"$ref":"#/components/schemas/RecursoCadastroForm"}},"conjuntoDadosAssociados":{"type":"array","items":{"$ref":"#/components/schemas/ConjuntoDadosDTO"}},"conjuntoDadosOrigem":{"type":"array","items":{"$ref":"#/components/schemas/ConjuntoDadosDTO"}},"dataUltimaAtualizacaoMetadados":{"type":"string"},"dataUltimaAtualizacaoArquivo":{"type":"string"},"dataCatalogacao":{"type":"string"},"atualizado":{"type":"string"}},"required":["descricao","emailResponsavel","licenca","periodicidade","responsavel","statusHomologacao","tags","temas","titulo","versao","visibilidade"]},"ConjuntoDadosDTO":{"type":"object","properties":{"id":{"type":"string"},"title":{"type":"string"},"notes":{"type":"string"},"dataUltimaAtualizacaoRecurso":{"type":"string","format":"date-time"},"tags":{"type":"array","items":{"$ref":"#/components/schemas/TagDTO"}},"resources":{"type":"array","items":{"$ref":"#/components/schemas/RecursoDTO"}},"organization":{"$ref":"#/components/schemas/OrganizacaoCkanDTO"},"avaliacao":{"$ref":"#/components/schemas/AvaliacaoConjuntoDadosForm"},"groups":{"type":"array","items":{"$ref":"#/components/schemas/TemaDTO"}},"name":{"type":"string"},"quantidadeSeguidores":{"type":"integer","format":"int32"},"maintainer":{"type":"string"},"extras":{"type":"array","items":{"$ref":"#/components/schemas/ExtraDTO"}},"version":{"type":"string"},"state":{"type":"string"},"author":{"type":"string"},"quantidadeReusos":{"type":"integer","format":"int32"},"quantidadeDownloads":{"type":"integer","format":"int32"},"conjuntoDadosAssociados":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"title":{"type":"string"},"notes":{"type":"string"},"dataUltimaAtualizacaoRecurso":{"type":"string","format":"date-time"},"tags":{"type":"array","items":{"$ref":"#/components/schemas/TagDTO"}},"resources":{"type":"array","items":{"$ref":"#/components/schemas/RecursoDTO"}},"organization":{},"avaliacao":{"$ref":"#/components/schemas/AvaliacaoConjuntoDadosForm"},"groups":{"type":"array","items":{"$ref":"#/components/schemas/TemaDTO"}},"name":{"type":"string"},"quantidadeSeguidores":{"type":"integer","format":"int32"},"maintainer":{"type":"string"},"extras":{"type":"array","items":{"$ref":"#/components/schemas/ExtraDTO"}},"version":{"type":"string"},"state":{"type":"string"},"author":{"type":"string"},"quantidadeReusos":{"type":"integer","format":"int32"},"quantidadeDownloads":{"type":"integer","format":"int32"},"conjuntoDadosAssociados":{"type":"array","items":{}},"conjuntoDadosAssociadosNaoAcessiveis":{"type":"array","items":{}},"avaliacaoDTO":{"$ref":"#/components/schemas/AvaliacaoConjuntoDadosDTO"},"statusAtualizacaoConjuntoDados":{"type":"string","enum":["ATUALIZADO","DESATUALIZADO","INDISPONIVEL"]},"listaObservanciaLegal":{"type":"array","items":{"$ref":"#/components/schemas/ObservanciaLegalDTO"}},"conjuntoDadosValidado":{"$ref":"#/components/schemas/ConjuntoDadosValidado"},"listaOds":{"type":"array","items":{"$ref":"#/components/schemas/OdsDTO"}},"seloDcat":{"type":"boolean"},"dataUltimaAtualizacaoRecursoFormatada":{"type":"string"},"racaEtnia":{"type":"string"},"genero":{"type":"string"},"dataUltimaAtualizacaoFormatadoMesAbreviado":{"type":"string"},"metadataModifiedDateTime":{"type":"string","format":"date-time"},"conjuntoDadosEdicao":{"$ref":"#/components/schemas/ConjuntoDadosEdicaoDTO"},"periodiciadeFormatado":{"type":"string"},"usuarioLogadoSeguindo":{"type":"boolean"},"dataUltimaAtualizacaoMetadadosFormatado":{"type":"string"},"statusAtualizacaoConjuntoDadosFormatado":{"type":"string"},"periodiciade":{"type":"string"},"listaFormatos":{"type":"array","items":{"type":"string"}},"tagsFormatado":{"type":"string"},"groupsFormatado":{"type":"string"},"dataUltimaAtualizacaoMetadados":{"type":"string","format":"date-time"},"conjuntoDadosApiView":{"$ref":"#/components/schemas/ConjuntoDadosApiView"},"conjuntoDadosForm":{"$ref":"#/components/schemas/ConjuntoDadosCadastroForm"},"resourcesCount":{"type":"integer","format":"int32"},"dataUltimaAtualizacaoDadosFormatado":{"type":"string"},"dadosAbertos":{"type":"boolean"},"inacessivel":{"type":"boolean"},"visibilidade":{"type":"string"},"coberturaEspacial":{"type":"string"},"descontinuado":{"type":"boolean"},"existePrevisaoAbertura":{"type":"boolean"},"dataPrevisaoAbertura":{"type":"string","format":"date"},"dataUltimaAtualizacaoDados":{"type":"string","format":"date-time"},"owner_org":{"type":"string"},"license_id":{"type":"string"},"license_title":{"type":"string"},"metadata_created":{"type":"string"},"metadata_modified":{"type":"string"},"maintainer_email":{"type":"string"},"private":{"type":"boolean"},"num_resources":{"type":"integer","format":"int32"},"markdownNotes":{"type":"string"}}}},"conjuntoDadosAssociadosNaoAcessiveis":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"title":{"type":"string"},"notes":{"type":"string"},"dataUltimaAtualizacaoRecurso":{"type":"string","format":"date-time"},"tags":{"type":"array","items":{"$ref":"#/components/schemas/TagDTO"}},"resources":{"type":"array","items":{"$ref":"#/components/schemas/RecursoDTO"}},"organization":{},"avaliacao":{"$ref":"#/components/schemas/AvaliacaoConjuntoDadosForm"},"groups":{"type":"array","items":{"$ref":"#/components/schemas/TemaDTO"}},"name":{"type":"string"},"quantidadeSeguidores":{"type":"integer","format":"int32"},"maintainer":{"type":"string"},"extras":{"type":"array","items":{"$ref":"#/components/schemas/ExtraDTO"}},"version":{"type":"string"},"state":{"type":"string"},"author":{"type":"string"},"quantidadeReusos":{"type":"integer","format":"int32"},"quantidadeDownloads":{"type":"integer","format":"int32"},"conjuntoDadosAssociados":{"type":"array","items":{}},"conjuntoDadosAssociadosNaoAcessiveis":{"type":"array","items":{}},"avaliacaoDTO":{"$ref":"#/components/schemas/AvaliacaoConjuntoDadosDTO"},"statusAtualizacaoConjuntoDados":{"type":"string","enum":["ATUALIZADO","DESATUALIZADO","INDISPONIVEL"]},"listaObservanciaLegal":{"type":"array","items":{"$ref":"#/components/schemas/ObservanciaLegalDTO"}},"conjuntoDadosValidado":{"$ref":"#/components/schemas/ConjuntoDadosValidado"},"listaOds":{"type":"array","items":{"$ref":"#/components/schemas/OdsDTO"}},"seloDcat":{"type":"boolean"},"dataUltimaAtualizacaoRecursoFormatada":{"type":"string"},"racaEtnia":{"type":"string"},"genero":{"type":"string"},"dataUltimaAtualizacaoFormatadoMesAbreviado":{"type":"string"},"metadataModifiedDateTime":{"type":"string","format":"date-time"},"conjuntoDadosEdicao":{"$ref":"#/components/schemas/ConjuntoDadosEdicaoDTO"},"periodiciadeFormatado":{"type":"string"},"usuarioLogadoSeguindo":{"type":"boolean"},"dataUltimaAtualizacaoMetadadosFormatado":{"type":"string"},"statusAtualizacaoConjuntoDadosFormatado":{"type":"string"},"periodiciade":{"type":"string"},"listaFormatos":{"type":"array","items":{"type":"string"}},"tagsFormatado":{"type":"string"},"groupsFormatado":{"type":"string"},"dataUltimaAtualizacaoMetadados":{"type":"string","format":"date-time"},"conjuntoDadosApiView":{"$ref":"#/components/schemas/ConjuntoDadosApiView"},"conjuntoDadosForm":{"$ref":"#/components/schemas/ConjuntoDadosCadastroForm"},"resourcesCount":{"type":"integer","format":"int32"},"dataUltimaAtualizacaoDadosFormatado":{"type":"string"},"dadosAbertos":{"type":"boolean"},"inacessivel":{"type":"boolean"},"visibilidade":{"type":"string"},"coberturaEspacial":{"type":"string"},"descontinuado":{"type":"boolean"},"existePrevisaoAbertura":{"type":"boolean"},"dataPrevisaoAbertura":{"type":"string","format":"date"},"dataUltimaAtualizacaoDados":{"type":"string","format":"date-time"},"owner_org":{"type":"string"},"license_id":{"type":"string"},"license_title":{"type":"string"},"metadata_created":{"type":"string"},"metadata_modified":{"type":"string"},"maintainer_email":{"type":"string"},"private":{"type":"boolean"},"num_resources":{"type":"integer","format":"int32"},"markdownNotes":{"type":"string"}}}},"avaliacaoDTO":{"$ref":"#/components/schemas/AvaliacaoConjuntoDadosDTO"},"statusAtualizacaoConjuntoDados":{"type":"string","enum":["ATUALIZADO","DESATUALIZADO","INDISPONIVEL"]},"listaObservanciaLegal":{"type":"array","items":{"$ref":"#/components/schemas/ObservanciaLegalDTO"}},"conjuntoDadosValidado":{"$ref":"#/components/schemas/ConjuntoDadosValidado"},"listaOds":{"type":"array","items":{"$ref":"#/components/schemas/OdsDTO"}},"seloDcat":{"type":"boolean"},"dataUltimaAtualizacaoRecursoFormatada":{"type":"string"},"racaEtnia":{"type":"string"},"genero":{"type":"string"},"dataUltimaAtualizacaoFormatadoMesAbreviado":{"type":"string"},"metadataModifiedDateTime":{"type":"string","format":"date-time"},"conjuntoDadosEdicao":{"$ref":"#/components/schemas/ConjuntoDadosEdicaoDTO"},"periodiciadeFormatado":{"type":"string"},"usuarioLogadoSeguindo":{"type":"boolean"},"dataUltimaAtualizacaoMetadadosFormatado":{"type":"string"},"statusAtualizacaoConjuntoDadosFormatado":{"type":"string"},"periodiciade":{"type":"string"},"listaFormatos":{"type":"array","items":{"type":"string"}},"tagsFormatado":{"type":"string"},"groupsFormatado":{"type":"string"},"dataUltimaAtualizacaoMetadados":{"type":"string","format":"date-time"},"conjuntoDadosApiView":{"$ref":"#/components/schemas/ConjuntoDadosApiView"},"conjuntoDadosForm":{"$ref":"#/components/schemas/ConjuntoDadosCadastroForm"},"resourcesCount":{"type":"integer","format":"int32"},"dataUltimaAtualizacaoDadosFormatado":{"type":"string"},"dadosAbertos":{"type":"boolean"},"inacessivel":{"type":"boolean"},"visibilidade":{"type":"string"},"coberturaEspacial":{"type":"string"},"descontinuado":{"type":"boolean"},"existePrevisaoAbertura":{"type":"boolean"},"dataPrevisaoAbertura":{"type":"string","format":"date"},"dataUltimaAtualizacaoDados":{"type":"string","format":"date-time"},"owner_org":{"type":"string"},"license_id":{"type":"string"},"license_title":{"type":"string"},"metadata_created":{"type":"string"},"metadata_modified":{"type":"string"},"maintainer_email":{"type":"string"},"private":{"type":"boolean"},"num_resources":{"type":"integer","format":"int32"},"markdownNotes":{"type":"string"}}},"ConjuntoDadosEdicaoDTO":{"type":"object","properties":{"id":{"type":"string"},"titulo":{"type":"string"},"descricao":{"type":"string"},"organizacao":{"type":"string"},"responsavel":{"type":"string"},"emailResponsavel":{"type":"string"},"temas":{"type":"array","items":{"$ref":"#/components/schemas/MultiselectOption"}},"periodicidade":{"type":"integer","format":"int32"},"tags":{"type":"array","items":{"$ref":"#/components/schemas/MultiselectOption"}},"coberturaTemporalInicio":{"type":"string"},"coberturaTemporalFim":{"type":"string"},"coberturaEspacial":{"type":"integer","format":"int32"},"valorCoberturaEspacial":{"type":"string"},"granularidadeEspacial":{"type":"integer","format":"int32"},"licenca":{"type":"string"},"versao":{"type":"string"},"atualizacaoVersao":{"type":"boolean"},"visibilidade":{"type":"integer","format":"int32"},"statusHomologacao":{"type":"string","enum":["INVALIDO","CADASTRADO","AGUARDANDO_HOMOLOGACAO","HOMOLOGADO","NAO_HOMOLOGADO"]},"descontinuado":{"type":"boolean"},"dataDescontinuacao":{"type":"string"},"dadosAbertos":{"type":"boolean"},"relacaoOds":{"type":"boolean"},"dadosRacaEtnia":{"type":"boolean"},"dadosGenero":{"type":"boolean"},"ods":{"type":"array","items":{"$ref":"#/components/schemas/MultiselectOption"}},"listaObservanciaLegal":{"type":"array","items":{"$ref":"#/components/schemas/MultiselectOption"}},"reuso":{"type":"boolean"},"conjuntoDadosAssociados":{"type":"array","items":{"$ref":"#/components/schemas/AutocompleteOption"}},"conjuntoDadosOrigem":{"type":"array","items":{"$ref":"#/components/schemas/AutocompleteOption"}},"nome":{"type":"string"},"existePrevisaoAbertura":{"type":"boolean"},"dataPrevisaoAbertura":{"type":"string"}}},"ConjuntoDadosValidado":{"type":"object","properties":{"idConjuntoDados":{"type":"string"},"idOrganizacao":{"type":"string"},"execucaoValidacao":{"$ref":"#/components/schemas/ExecucaoValidacao"},"validado":{"type":"boolean"},"valorAvaliacaoGeral":{"type":"number"},"valorAvaliacaoAtualizacao":{"type":"integer","format":"int32"},"valorAvaliacaoFormatos":{"type":"integer","format":"int32"},"valorAvaliacaoMetadados":{"type":"number"},"valorAvaliacaoLicenca":{"type":"integer","format":"int32"},"valorAvaliacaoDisponibilidade":{"type":"integer","format":"int32"},"valorAvaliacaoTemas":{"type":"integer","format":"int32"},"valorAvaliacaoSimilares":{"type":"integer","format":"int32"},"gestorNotificado":{"type":"boolean"},"dataHoraInicio":{"type":"string","format":"date-time"},"dataHoraFim":{"type":"string","format":"date-time"},"totalSim":{"type":"integer","format":"int32"},"totalNao":{"type":"integer","format":"int32"},"conjuntoDadosAberto":{"type":"boolean"}}},"ExecucaoValidacao":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"dataHoraInicio":{"type":"string","format":"date-time"},"dataHoraFim":{"type":"string","format":"date-time"},"resumo":{"type":"string"}}},"ExtraDTO":{"type":"object","properties":{"key":{"type":"string"},"value":{"type":"string"}}},"IndiceConjuntoDados":{"type":"object","properties":{"name":{"type":"string"},"id":{"type":"string"},"title":{"type":"string"},"notes":{"type":"string"},"organizationId":{"type":"string"},"organizationName":{"type":"string"},"organizationEsfera":{"type":"string"},"organizationUf":{"type":"string"},"organizationMunicipio":{"type":"string"},"temas":{"type":"string"},"privado":{"type":"boolean"},"maintainer":{"type":"string"},"metadataCreated":{"type":"string"},"maintainerEmail":{"type":"string"},"licenca":{"type":"string"},"tituloLicenca":{"type":"string"},"version":{"type":"string"},"extras":{"type":"object","additionalProperties":{"type":"string"}},"temasAcessoRapido":{"type":"array","items":{"type":"object","additionalProperties":{"type":"string"}}},"tagsAcessoRapido":{"type":"array","items":{"type":"object","additionalProperties":{"type":"string"}}},"resourcesAcessoRapido":{"type":"array","items":{"type":"object","additionalProperties":{"type":"string"}}},"ownerOrg":{"type":"string"},"state":{"type":"string"},"dataCriacao":{"type":"string"},"quantidadeRecursos":{"type":"integer","format":"int32"},"organizationTitle":{"type":"string"},"urlImagemOrganizacao":{"type":"string"},"quantidadeReusos":{"type":"integer","format":"int32"},"quantidadeDownloads":{"type":"integer","format":"int32"},"quantidadeSeguidores":{"type":"integer","format":"int32"},"temasImagemAtualizada":{"type":"array","items":{"$ref":"#/components/schemas/TemaDTO"}},"avaliacaoDTO":{"$ref":"#/components/schemas/AvaliacaoConjuntoDadosDTO"},"conjuntoDadosValidado":{"$ref":"#/components/schemas/ConjuntoDadosValidado"},"ultimaAtualizacaoMetadados":{"type":"string","format":"date-time"},"extrasFormatado":{"type":"array","items":{"$ref":"#/components/schemas/ExtraDTO"}},"possuiSeloDcat":{"type":"boolean"},"ultimaAtualizacaoDados":{"type":"string","format":"date-time"},"conjuntoDadosEdicao":{"$ref":"#/components/schemas/ConjuntoDadosEdicaoDTO"},"tagsFormatado":{"type":"array","items":{"$ref":"#/components/schemas/TagDTO"}},"dataAtualizacao":{"type":"string"},"temasFormatado":{"type":"array","items":{"$ref":"#/components/schemas/TemaDTO"}},"ultimaAtualizacaoDadosFormatado":{"type":"string"},"conjuntoDadosEstaAtualizado":{"type":"boolean"},"dadosAbertos":{"type":"boolean"},"visibilidade":{"type":"string"},"ultimaAtualizacaoMetadadosFormatado":{"type":"string"},"tagsFormatadoExportacao":{"type":"string"},"groupsFormatadoExportacao":{"type":"string"},"resourcesFormatado":{"type":"array","items":{"$ref":"#/components/schemas/RecursoDTO"}},"markdownNotes":{"type":"string"}}},"MultiselectOption":{"type":"object","properties":{"id":{"type":"string"},"value":{"type":"string"}}},"ObservanciaLegalDTO":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"descricao":{"type":"string"}}},"OdsDTO":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"descricao":{"type":"string"}}},"OrganizacaoCkanDTO":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"quantidadeConjuntoDadosAbertos":{"type":"integer","format":"int32"},"quantidadeConjuntoDadosNaoAbertos":{"type":"integer","format":"int32"},"indiceConjuntoDados":{"type":"array","items":{"$ref":"#/components/schemas/IndiceConjuntoDados"}},"atributos":{"type":"object","additionalProperties":{"type":"string"}},"emailAutoridade":{"type":"string"},"extras":{"type":"array","items":{"type":"object","additionalProperties":{"type":"string"}},"writeOnly":true},"display_name":{"type":"string"},"image_url":{"type":"string"},"num_followers":{"type":"integer","format":"int32"},"package_count":{"type":"integer","format":"int32"},"packages":{"type":"array","items":{"$ref":"#/components/schemas/ConjuntoDadosDTO"}},"description":{"type":"string"},"title":{"type":"string"},"state":{"type":"string"},"markdownDescricao":{"type":"string"}}},"ParametroTemaCkan":{"type":"object","properties":{"name":{"type":"string"}}},"RecursoApiView":{"type":"object","properties":{"tamanho":{"type":"integer","format":"int64"},"dataUltimaAtualizacaoArquivo":{"type":"string"},"dataCatalogacao":{"type":"string"},"idConjuntoDados":{"type":"string"},"tipo":{"type":"string","enum":["INVALIDO","DADOS","DOCUMENTACAO","DICIONARIO_DE_DADOS","API","OUTRO"]},"numOrdem":{"type":"integer","format":"int32"},"nomeArquivo":{"type":"string"},"quantidadeDownloads":{"type":"integer","format":"int32"},"descricao":{"type":"string","maxLength":1000,"minLength":0},"titulo":{"type":"string"},"formato":{"type":"string"},"link":{"type":"string"},"id":{"type":"string"}}},"RecursoCadastroForm":{"type":"object","properties":{"id":{"type":"string"},"idConjuntoDados":{"type":"string"},"titulo":{"type":"string"},"link":{"type":"string"},"descricao":{"type":"string","maxLength":1000,"minLength":0},"tipo":{"type":"string","enum":["INVALIDO","DADOS","DOCUMENTACAO","DICIONARIO_DE_DADOS","API","OUTRO"]},"formato":{"type":"string"},"dataCriacao":{"type":"string","format":"date-time"},"tamanho":{"type":"integer","format":"int64"},"nomeArquivo":{"type":"string"},"quantidadeDownloads":{"type":"integer","format":"int32"},"numOrdem":{"type":"integer","format":"int32"},"dataCatalogacao":{"type":"string"},"dataUltimaAtualizacaoArquivo":{"type":"string"}}},"RecursoDTO":{"type":"object","properties":{"id":{"type":"string"},"format":{"type":"string"},"url":{"type":"string"},"name":{"type":"string"},"description":{"type":"string"},"created":{"type":"string","format":"date-time"},"size":{"type":"integer","format":"int64"},"tipo":{"type":"string","enum":["INVALIDO","DADOS","DOCUMENTACAO","DICIONARIO_DE_DADOS","API","OUTRO"]},"nomeArquivo":{"type":"string"},"quantidadeDownloads":{"type":"integer","format":"int32"},"numOrdem":{"type":"integer","format":"int32"},"metadataModifiedLocalDateTime":{"type":"string","format":"date-time"},"metadataModifiedDataFormatada":{"type":"string"},"createdFormatado":{"type":"string"},"sizeFormatado":{"type":"string"},"lastModifiedSemHora":{"type":"string","format":"date"},"createdDataFormatada":{"type":"string"},"lastModifiedFormatado":{"type":"string"},"recursoForm":{"$ref":"#/components/schemas/RecursoCadastroForm"},"recursoApiView":{"$ref":"#/components/schemas/RecursoApiView"},"urlCheckFormatado":{"type":"string"},"urlDisponivel":{"type":"boolean"},"idTipo":{"type":"integer","format":"int32"},"package_id":{"type":"string"},"metadata_modified":{"type":"string"},"last_modified":{"type":"string","format":"date-time","description":"Data de atulização do arquivo"},"url_check":{"type":"string"}}},"TagDTO":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"display_name":{"type":"string"}},"required":["id","name"]},"TemaApiForm":{"type":"object","properties":{"name":{"type":"string"},"title":{"type":"string"}},"required":["name","title"]},"TemaDTO":{"type":"object","properties":{"name":{"type":"string"},"title":{"type":"string"},"id":{"type":"string"},"description":{"type":"string"},"state":{"type":"string"},"users":{"type":"array","items":{"$ref":"#/components/schemas/ParametroTemaCkan"}},"packages":{"type":"array","items":{"$ref":"#/components/schemas/ConjuntoDadosDTO"}},"usuarioSegueTema":{"type":"boolean"},"nameFoto":{"type":"string"},"nameIcone":{"type":"string"},"numReusos":{"type":"integer","format":"int64"},"atributos":{"type":"object","additionalProperties":{"type":"string"}},"tags":{"type":"array","items":{"$ref":"#/components/schemas/TagDTO"}},"quantidadeOrganizacoes":{"type":"integer","format":"int64"},"foto":{"$ref":"#/components/schemas/ArquivoCodificado"},"icone":{"$ref":"#/components/schemas/ArquivoCodificado"},"extras":{"type":"array","items":{"type":"object","additionalProperties":{"type":"string"}},"writeOnly":true},"display_name":{"type":"string","writeOnly":true},"displayName":{"type":"string"},"imageDisplayUrl":{"type":"string"},"image_display_url":{"type":"string"},"iconeDisplayUrl":{"type":"string"},"icone_display_url":{"type":"string"},"num_followers":{"type":"integer","format":"int32","writeOnly":true},"numFollowers":{"type":"integer","format":"int32"},"package_count":{"type":"integer","format":"int32","writeOnly":true},"packageCount":{"type":"integer","format":"int32"}},"required":["name","title"]},"RespostaForm":{"type":"object","properties":{"idSolicitacao":{"type":"integer","format":"int32"},"resposta":{"type":"string","maxLength":4000,"minLength":0}},"required":["idSolicitacao","resposta"]},"ApiResultadoReuso":{"type":"object","properties":{"id":{"type":"string"},"nome":{"type":"string"},"descricao":{"type":"string"},"url":{"type":"string"},"organizacao":{"type":"string"},"responsavel":{"type":"string"},"privado":{"type":"string"},"dataAtualizacao":{"type":"string"},"qtdAcesso":{"type":"integer","format":"int32"},"dataUltimoAcesso":{"type":"string"},"autor":{"type":"string"},"situacao":{"type":"string"},"emlResponsavel":{"type":"string"},"dataLancamento":{"type":"string"},"dataDescontinuacao":{"type":"string"},"descConjuntoDadosNaoCatalogados":{"type":"string"},"obsHomologacao":{"type":"string"},"temas":{"type":"array","items":{"type":"string"}},"tipos":{"type":"array","items":{"type":"string"}},"palavrasChave":{"type":"array","items":{"type":"string"}},"conjuntoDados":{"type":"array","items":{"type":"string"}}}},"RecursoCadastroApiForm":{"type":"object","properties":{"id":{"type":"string"},"idConjuntoDados":{"type":"string","minLength":1},"titulo":{"type":"string","minLength":1},"link":{"type":"string","minLength":1},"descricao":{"type":"string","maxLength":1000,"minLength":0},"tipo":{"type":"string","enum":["INVALIDO","DADOS","DOCUMENTACAO","DICIONARIO_DE_DADOS","API","OUTRO"]},"formato":{"type":"string","minLength":1}},"required":["descricao","formato","idConjuntoDados","link","tipo","titulo"]},"ConjuntoDadosCadastroApiForm":{"type":"object","properties":{"titulo":{"type":"string"},"descricao":{"type":"string"},"temas":{"type":"array","items":{"$ref":"#/components/schemas/TemaApiForm"}},"periodicidade":{"type":"integer","format":"int32"},"tags":{"type":"array","items":{"$ref":"#/components/schemas/IdNameDTO"}},"coberturaTemporalInicio":{"type":"string","description":"Data de início da cobertura temporal","example":"26/06/2022","pattern":"dd/MM/yyyy"},"coberturaTemporalFim":{"type":"string","description":"Data de início da cobertura temporal","example":"26/06/2022","pattern":"dd/MM/yyyy"},"coberturaEspacial":{"type":"integer","format":"int32"},"valorCoberturaEspacial":{"type":"string"},"granularidadeEspacial":{"type":"integer","format":"int32"},"licenca":{"type":"string"},"versao":{"type":"string"},"atualizacaoVersao":{"type":"boolean"},"visibilidade":{"type":"integer","format":"int32"},"descontinuado":{"type":"boolean"},"dataDescontinuacao":{"type":"string","description":"Data de descontinuação","example":"26/06/2022","pattern":"dd/MM/yyyy"},"dadosAbertos":{"type":"boolean"},"relacaoOds":{"type":"boolean"},"dadosRacaEtnia":{"type":"boolean"},"dadosGenero":{"type":"boolean"},"ods":{"type":"array","items":{"type":"integer","format":"int32"}},"listaObservanciaLegal":{"type":"array","items":{"type":"integer","format":"int32"}},"nome":{"type":"string"},"existePrevisaoAbertura":{"type":"boolean"},"dataPrevisaoAbertura":{"type":"string"},"recursos":{"type":"array","items":{"$ref":"#/components/schemas/RecursoApiDTO"}},"areaTecnicaResponsavel":{"type":"string"},"emailAreaTecnicaResponsavel":{"type":"string"}}},"IdNameDTO":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"}}},"RecursoApiDTO":{"type":"object","properties":{"titulo":{"type":"string"},"descricao":{"type":"string"},"link":{"type":"string"},"formato":{"type":"string"},"tipo":{"type":"string"}}},"SolicitacaoApiFiltro":{"type":"object","properties":{"dataAbertura":{"type":"string","format":"date"},"tipoSolicitacao":{"type":"string","enum":["CONTATO_ORGANIZACAO","PEDIDO_ABERTURA_BASE","PEDIDO_INFORMACAO","REGISTRAR_FEEDBACK","REPORTAR_ERRO_OU_PROBLEMA","OUTROS","REPORTAR_PROBLEMA_DATASET","SOLICITAR_MELHORIA_DATASET","OUTRO","SUGESTAO_TAG_DATASET","REPORTAR_PROBLEMA_ORGANIZACAO","SOLICITAR_MELHORIA_ORGANIZACAO"]},"statusSolicitacao":{"type":"string","enum":["ABERTA","RESPONDIDA","ENCERRADA_PELO_USUARIO","ENCERRADA_SEM_RESPOSTA"]}}},"SolicitacaoDTO":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"idOrganizacao":{"type":"string","minLength":1},"organizacao":{"type":"string"},"idAtividade":{"type":"integer","format":"int32"},"atividade":{"type":"string"},"idUsuarioAbertura":{"type":"integer","format":"int32"},"usuarioAbertura":{"type":"string"},"email":{"type":"string","minLength":1},"descricao":{"type":"string","minLength":1},"idTipoSolicitacao":{"type":"integer","format":"int32"},"tipoSolicitacao":{"type":"string"},"idStatusSolicitacao":{"type":"integer","format":"int32"},"statusSolicitacao":{"type":"string"},"idUsuarioRespondente":{"type":"integer","format":"int32"},"usuarioRespondente":{"type":"string"},"resposta":{"type":"string"},"dataAbertura":{"type":"string","format":"date-time"},"dataResposta":{"type":"string","format":"date-time"},"arquivoSolicitacao":{"$ref":"#/components/schemas/ArquivoCodificado"},"arquivoResposta":{"$ref":"#/components/schemas/ArquivoCodificado"},"uuidArquivoSolicitacao":{"type":"string"},"uuidArquivoResposta":{"type":"string"},"podeEditar":{"type":"boolean"},"possuiArquivoSolicitacao":{"type":"boolean"},"possuiArquivoResposta":{"type":"boolean"},"idConjuntoDados":{"type":"string"},"conjuntoDados":{"type":"string"},"idReuso":{"type":"integer","format":"int32"},"nomeReuso":{"type":"string"}},"required":["descricao","email","idOrganizacao"]},"ApiResultadoListaReuso":{"type":"object","properties":{"id":{"type":"string"},"nome":{"type":"string"},"autor":{"type":"string"},"organizacao":{"type":"string"},"dataAtualizacao":{"type":"string"},"situacao":{"type":"string"},"privado":{"type":"string"}}},"IndiceOrganizacao":{"type":"object","properties":{"id":{"type":"string"},"urlImagem":{"type":"string"},"titulo":{"type":"string"},"descricao":{"type":"string"},"nome":{"type":"string"},"qtdConjuntoDeDados":{"type":"string"},"qtdSeguidores":{"type":"string"},"organizationEsfera":{"type":"string"},"organizationUf":{"type":"string"},"organizationMunicipio":{"type":"string"}}},"OrganizacaoApiDTO":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"displayName":{"type":"string"},"urlFoto":{"type":"string"},"quantidadeSeguidores":{"type":"integer","format":"int32"},"quantidadeConjuntoDados":{"type":"integer","format":"int32"},"descricao":{"type":"string"},"nome":{"type":"string"},"ativo":{"type":"string"},"atributos":{"type":"object","additionalProperties":{"type":"string"}}}},"ApiResultadoListaConjuntoDados":{"type":"object","properties":{"id":{"type":"string"},"title":{"type":"string"},"nome":{"type":"string"},"catalogacao":{"type":"string"},"nomeOrganizacao":{"type":"string"},"ultimaAlteracaoMetadados":{"type":"string"},"ultimaAtualizacaoDados":{"type":"string"},"isAtualizado":{"type":"boolean"}}}},"securitySchemes":{"Authorization":{"type":"apiKey","description":"Para obter chave do perfil da organização, acesse a opção de \"Tokens de organização\" na dashboard com um usuário com perfil de Administrador da Organização. Para obter chave do perfil Consumidor ou Gestor de Políticas de Dados Abertos, entre no sistema com este perfil e acesse a área do lado direito da página \"Minha Conta\"","name":"chave-api-dados-abertos","in":"header"}}}}